{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block menustyle1 %}link-secondary{% endblock %}
{% block menustyle2 %}link-body-emphasis{% endblock %}

{% block header_image %}
    <img src="/static/main/img/header_pic.png" class="justify-content-center main-image" alt="">
{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <p>Данный проект выполнен в качестве Итогового задания по курсу "Углубленное программирование на Python" магистратуры УрФУ "Инженерия Машинного Обучения" студентом <strong>ANGorbachev</strong></p>
{% endblock %}
