{% load static %}
<div class="row mb-2">
  {% for meal in meal_list %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static back-white">
          <strong class="d-inline-block mb-2 text-primary-emphasis"><a href="/?tags={{ meal.tags }}" class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{ meal.tags }}</a></strong>
          <h3 class="mb-0">{{ meal.title }}</h3>
          <div class="mb-1 text-body-secondary">{{ meal.cook_time }} мин</div>
          <p class="card-text mb-auto">{{ meal.description }}</p>
          <a href="{% url 'detail' meal.id %}" class="icon-link gap-1 icon-link-hover">
            Читать подробнее
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ meal.photo }}" width="200" height="250" alt="None">
        </div>
      </div>
    </div>
  {% endfor %}
</div>
